<div class="layout-menu-wrapper">
    <div class="nano">
        <div class="nano-content sidebar-scroll-content">
            <div class="layout-menu-container">
                <div class="mobile-search">
                    <i class="fa fa-fw fa-search topbar-search-icon"></i>
                    <input class="topbar-search" placeholder="Type your search here" type="text">
                </div>
                <ul class="layout-menu" root="true" visible="true">
                    <li class="active-menuitem">
                        <a routerlinkactive="active-menuitem-routerlink" href="#/" class="active-menuitem-routerlink"><i class="fa fa-fw fa-home"></i><span>Dashboard</span>
                        </a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Dashboard</div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-bars"></i><span>Menu Modes</span><i class="fa fa-fw fa-angle-down"></i>
                        </a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Menu Modes</div>
                        </div>
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-bars"></i><span>Static Menu</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Static Menu</div>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-bars"></i><span>Overlay Menu</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Overlay Menu</div>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-bars"></i><span>Slim Menu</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Slim Menu</div>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sun-o fa-fw"></i><span>Light Menu</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Light Menu</div>
                                </div>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-moon-o fa-fw"></i><span>Dark Menu</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Dark Menu</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>